// About-Section
section#about-section
  .container
    .row
      .col-xs-12
        h2.section-title(title='About Us')
          span 关于我们
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        .about-content.row
          .about-photo.col-xs-12.col-md-5
            img(src='images/about-photo.jpg', alt='')
          .about-text.col-xs-12.col-md-7
            p
              |【大树教育】自办学以来始终坚持以科学的方法、务实的态度开办教学。我们注重学生心理和学习共同发展，会在考前对学生进行心理辅导和开展课外减压活动。把学生当孩子，与家长一起送考陪考，为他们加油鼓劲儿，做孩子们坚强的后盾！建立奖励制度，鼓励孩子们多拿奖学金，课下开办免费小班讲题，做到不让孩子把问题带回家！我们以提高教学质量，培养优质学子为目的，从学生家长角度考虑，为孩子们赢得更好将来！如若岁月静好，皆因我们负重前行！
            p
              |  大树教育自办以来始终坚持以科学方法、务实的态度、创新的精神激励内部活力，开发师生潜力，优化育人模式，关注学生心理状态，多了解多接触学生，强化学校管理，提高办学效益，把提高教师素质放在第一位，下大本钱，多开渠道提高教师综合素质，努力形成学校的教师人才优势。我们励志做到最好，变成灯塔，照亮学子。
            .signature
              img(src='images/sign3.png', alt='')
