// Blog-Section
section#blog-section
  .container
    .row
      .col-xs-12
        h2.section-title(title='Blog')
          span 文章
    .blogs
      .row
        .col-xs-12.col-md-6.post-thumbnail.left
          img.img-full(src='images/blog/p-1.jpg', alt='')
        .col-xs-12.col-md-6.col-md-offset-6
          .post-content
            h3 大树之星：朱宇超
            p
              | 没有百分之百的天才，只有百分之百的后天努力，朱宇超分享了使他成绩进步的“努力”计划——每周六周日上完课后，回到学校安静做题背书，自己上个晚自习。
            p 
              | 当大树老师与他做期中成绩分析时，他认为自己的数学成绩并不使他满意，他对自己有要求，并且会为了自己的目标制定相应的计划去实施。
      .row
        .col-xs-12.col-md-6.post-thumbnail.right
          img.img-full(src='images/blog/p-2.jpg', alt='')
        .col-xs-12.col-md-6
          .post-content
            h3 一中外教Carlos Prado强势入驻【大树教育】
            p
              | Carlos Prado，来自葡萄牙里斯本，教授教学和西班牙语，与1997年获取葡萄牙里斯本大学的物理学博士学位。
            p
              | Carlos Prado一直担任专职教师，主要教授科技领域，如物理、化学、数学和电子学。
            P
              | Carlos并且受过航空领域的训练，拥有FAA和JAA飞机师驾照。
