// Testimonial-Section
section#client-section.gray-bg
  .container
    .row
      .col-xs-12
        h2.section-title(title='客户')
          span 小树苗
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
        .testimonials
          .testimonial-item
            p
              | 我很感谢大树教育的储老师，高考数学145分,他教给我的快速提分技巧很实用。
            .media
              .media-left.testimonial-photo
                img(src='images/testimonial/c-1.jpg', alt='')
              .media-right.media-middle.testimonial-data
                h5 李小琳
                span 艺术培训
          .testimonial-item
            p
              | 感谢大树教育卡洛斯外教，他讲课风趣幽默有耐心，不仅提高了英语口语而且增强了信心。
            .media
              .media-left.testimonial-photo
                img(src='images/testimonial/c-2.jpg', alt='')
              .media-right.media-middle.testimonial-data
                h5 黄汉
                span 英语口语
          .testimonial-item
            p
              | 在大树教育补习增强了我的学习信心，半年时间语数外共提高了100多分。
            .media
              .media-left.testimonial-photo
                img(src='images/testimonial/c-3.jpg', alt='')
              .media-right.media-middle.testimonial-data
                h5 柯一子
                span 高三复习
