// Gallery-Section
section#gallery-section.gray-bg
  .container
    .row
      .col-xs-12
        h2.section-title(title='Gallery')
          span Gallery
    .row.gallery
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-1.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=dpwFJN51eSU')
              i.fa.fa-play
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-2.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=mloLVJLFb4Q')
              i.fa.fa-play
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-3.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=4nhMszErr1M')
              i.fa.fa-play
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-4.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=p1SPB16CdKE')
              i.fa.fa-play
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-5.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=pl0MYa4A4fQ')
              i.fa.fa-play
      .col-xs-12.col-sm-6.col-md-4
        .single-gallery
          .gallery-photo
            img(src='images/gallery/gallery-6.jpg', alt='')
          .gallery-details
            a.work-popup(href='https://www.youtube.com/watch?v=822ZyBmlSX0')
              i.fa.fa-play
    .row
      .col-xs-12.text-center
        a.button.pink(href='#') See More
