
link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
link(rel="shortcut icon", href="/images/favicon.ico", type="image/ico")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/owl.carousel.min.css")
link(rel="stylesheet", href="/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/magnific-popup.css")
link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="/style.css")
link(rel="stylesheet", href="/css/responsive.css")
link(rel="stylesheet", href="/custom.css")
script(src="/js/vendor/modernizr-2.8.3.min.js")

script(src="/js/vendor/jquery-1.12.4.min.js")
script(src="/js/vendor/bootstrap.min.js")
