// Header Area
header#home-section.header-area.ripple
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
        h1.header-title.wow.fadeInUp(data-wow-delay='0.2s') 大 树 教 育
        h4.heder-subtitle.wow.fadeInUp(data-wow-delay='0.4s') 
          | 十年树木，百年树人。
        
  .smoth
    a.scrolldown(href='#about-section')
      i.fa.fa-arrow-down
