div.preloader
  .loader
    .loader__bar
    .loader__bar
    .loader__bar
    .loader__bar
    .loader__bar
    .loader__ball
    
nav.mainmenu-area(data-spy="affix", data-offset-top="0")
  .container
    .row
      .col-xs-6.col-sm-2.col-lg-4.logo
        a(href="/")
          img(src="/images/logo.png", alt="")
      .menu-bar-hide.col-xs-6
        a(href="#").menu-bar.pull-right
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .col-xs-12.col-sm-10.col-lg-8.smoth
        ul.nav.mainmenu
          li
            a(href="#home-section") 首页
          li
            a(href="#about-section") 关于我们
          li
            a(href="#service-section") 服务
          li
            a(href="#team-section") 我们的团队
          li
            a(href="#client-section") 小树苗
          li
            a(href="#blog-section") 文章
          li
            a(href="#date-section") 课程表
          li
            a(href="#contact-section") 联系我们
