// Service-Section
section#service-section.gray-bg.fix
  .container
    .row
      .col-xs-12
        h2.section-title(title='Services')
          span 我们的服务
    .row
      .col-xs-12.col-md-4
        .single-service
          h3 英语外教
          p
            | 来自美国、英国、葡萄牙的高品质英语外教，提供一对一和一对多的英语口语、听力、写作等技巧培训。
      .col-xs-12.col-md-4
        .single-service
          h3 艺考培训
          p
            | 深耕艺考培训多年，拥有一流培训师资，全方位掌握艺考最新动向，为考生提供保姆管家式的服务。
      .col-xs-12.col-md-4
        .single-service
          h3 一对一辅导
          p
            | 针对中小学课程偏科，提供一对一课程辅导，上课教师全部是具有多年的教育经验的高级教师。
