// Video-Section
section#video-section
  .container
    .row
      .col-xs-12
        h2.section-title(title='Video')
          span Video
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .embed-responsive.embed-responsive-16by9
          video.video-control.embed-responsive-item(controls='')
            source(src='http://quomodotheme.website/video/nature.webm', type='video/webm')
