doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='徐州地区首屈一指的教育培训机构')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='起舞时我们拥吻，不想再有明天--Fu')
    title #{title}
    include ./includes/head
  body
    block content
